*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    align-items: center;
    justify-content: center;

}
.cards__item{
    width: 250px;
    padding: 20px;
    background-color: rgb(75, 75, 75);
    border-radius: 6px;
    color: #fff;
    margin: 30px;
}

@media only screen and (max-width: 600px) {
    .cards__item{
        width: 100%; 
    }

}
.cards__item__titulo{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

.cards__item__img{
    background-color: blue;
}
.cards__item__dates{
    display: flex;
    margin-bottom: 5px;
}





.col__one{
    width: 30%;
    color: #8a8a8a;
}
.col__two{
    width: 70%;
}