<html lang="es">
    <head>
        <link rel="stylesheet" href="estilos.css" />
        <script type="text/javascript" src="api.js"></script>
    </head>
    <body>
        <section class="cards" id="tabla">
            <!--<article  class="cards__item">
                <div class="cards__item__img">
                    <img src="" alt="">
                </div>

                <h1 class="cards__item__titulo">
                    {{ username }}
                </h1>
                <div class="cards__item__dates">
                    <div class="col__one">
                        <p>Name: </p>
                    </div>
                    <div class="col__two">
                        <p> {{ name }}</p>
                    </div>
                </div>
                <div class="cards__item__dates">
                    <div class="col__one">
                        <p>E-mail: </p>
                    </div>
                    <div class="col__two">
                        <p>{{ email }} </p>
                    </div>
                </div>

                <div class="cards__item__dates">
                    <div class="col__one">
                        <p>Conpany: </p>
                    </div>
                    <div class="col__two">
                        <p>{{ company.name }} </p>
                    </div>
                </div>

                <div class="cards__item__dates">
                    <div class="col__one">
                        <p>City: </p>
                    </div>
                    <div class="col__two">
                        <p>{{ adsress.city }} </p>
                    </div>
                </div>

            </article>-->
        </section>

    </body>
</html>